@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tenis game is nothing else than a simple 2D pong arcade game, build for admin education only.</p>
<p>For this game was used a Visual Studio as IDE for the server and client side development.</p>
<p>The game is writen in clean java-script and a little bit of jquery.</p>
<p>Ask any question here : </p><a href="https://www.facebook.com/profile.php?id=100008397154387">Facebook page</a><br />
