@{
    ViewBag.Title = "Contacts";
}
<h3>@ViewBag.Title</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Support:</strong>   <a href="https://www.facebook.com/profile.php?id=100008397154387">Facebook page</a><br />
</address>