<ul class="nav navbar-nav navbar-right">
    <li>
        <div id="game-score">
            <span id="first" class="player-name"></span>  <span id="first-player"> 0 </span> : <span id="second-player"> 0 </span>  <span id="second" class="player-name"></span>
        </div>
    </li>
</ul>
